/* special css for efrro_form_c_json */

body {
    max-width: 600px;
    min-width: 300px;
}

img {
    display: inline-block;
    width: 100%;
}

.yellow {
    color: #FBF462 !important;
}

.preservewhitespace {
    white-space: pre-wrap;
}

/* html elements by name because is easier to change css then tho compile rust code */
#json {
    height: 450px;
}

label, input, textarea { display:block;}
